.queueWrapper,
.sideCardWrapper {
  gap: var(--spacing);
  gap: var(--spacing);
}

.chartSideCardContent,
.queueCardWrapper {
  row-gap: var(--spacing);
}

.logoWrapper {
  padding: 8px;
  max-width: 100px;
  border: 1px solid #0000002e;
  border-radius: 12px;
  --bs-aspect-ratio: 70%;
}

.cardBtnWrapper .cardBtn {
  border-radius: 8px;
}

.cardBtnWrapper .cardBtn.colorUnjoin {
  color: var(--black);
}

.cardBtnWrapper .cardBtn.colorjoin {
  color: var(--g2);
}

.cardBtnWrapper .readBtn {
  background-color: transparent;
  border: 1px solid var(--g2);
  color: var(--g2);
}

.cardBtnWrapper .readBtn:hover {
  background-color: var(--g2);
  color: var(--white);
}

.chartWrapper {
  min-height: 380px;
}

.chartWrapper canvas {
  min-height: 100%;
}

.detailLogoWrapper {
  padding: 10px;
  max-width: 140px;
  border: 1px solid var(--bg-white-gray);
  border-radius: 4px;
}

.queueCardWrapper {
  min-height: 250px;
}