@import url("../assets/stylesheets/reset.css");
@import url("../assets/stylesheets/utilities.css");

:root {
  scroll-behavior: smooth;
  --primary-font: "Manrope";

  /* COLOR VARIABLES  */
  --black: #000;
  --white: #fff;
  --gray: #59595b;
  --clr-theme: #2a6ef4;
  --lightgray: #f0f0f4;
  --dark: #1d1d1f;
  --accent: #eaf1fe;
  --danger: #dc2626;
  --sugar-crystal: rgba(255, 255, 255, 0.08);
  --danger-light: #fff0f0;
  --g1: #6397ff;
  --g2: #1d1d1f;
  --bg-white-gray: #f1f1f1;
  --input: #f7faf9;
  --inkwell-inception: #1d201e;
  --cosmic-quest: #9da29f;
  --doctor: rgba(249, 249, 249, 0.08);
  --doctor-light: #f9f9f9;
  --errigal-white: #f0f2f5;
  --lighthouse: #f4f4f4;
  --shadows: #6a6c6a;
  --secInput: 68px;
  --gradient: linear-gradient(90deg, var(--g1) 0%, var(--g2) 100%);
  --gradient: linear-gradient(90deg, var(--g1) 0%, var(--g2) 100%);
  --chart-gradient: linear-gradient(141.29deg,
      rgba(42, 110, 244, 0.8) 25.84%,
      rgba(42, 110, 244, 0.2) 49.07%,
      rgba(42, 110, 244, 0.1) 82.34%);
  /* FONTSIZE VARIABLES  */
  --text-5xl: 64px;
  --text-4xl: 52px;
  --text-3xl: 40px;
  --text-2xl: 32px;
  --text-xl: 24px;
  --text-lg: 20px;
  --text-md: 18px;
  --text-base: 16px;
  --text-sm: 14px;

  /* SPACE VARIABLES  */
  --space-lg: 140px;
  --space-md: 72px;
  --space-sm: 56px;
  --space-xs: 30px;
  --space-2xs: 20px;
  --space-3xs: 10px;

  /* BORDER RADIUS  */
  --radius-xl: 64px;
  --radius-lg: 48px;
  --radius-md: 40px;
  --radius-sm: 32px;
  --radius-xs: 24px;
  --radius-2xs: 12px;
  --header-height: 108px;

  --component-large: 56px;
  --component-small: 40px;

  --container-size: calc(100vw - 30px);
  --card-shadow: 0px 24px 48px 0px #0040a114;
  --linear-gradient: linear-gradient(90deg, #2a6ef4 0%, #2a6ef4 100%);
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  font-size: var(--text-base);
  color: var(--dark);
}

/* Colors */
.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-accent {
  color: var(--accent);
}

.text-theme {
  color: var(--clr-theme);
}

.text-gray {
  color: var(--gray);
}

.text-danger {
  color: var(--danger);
}

.text-lightgray {
  color: var(--lightgray);
}

.text-g1 {
  color: var(--g1);
}

.text-g2 {
  color: var(--g2);
}

.text-shadow {
  color: var(--shadows);
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-black {
  background-color: var(--black);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-lightgray {
  background-color: var(--lightgray);
}

.bg-transparent {
  background-color: transparent;
}

.bg-gradient {
  background: var(--gradient);
}

.bg-sugar-crystal {
  background-color: var(--sugar-crystal);
}

.bg-danger-light {
  background-color: var(--danger-light);
}

.bg-white-gray {
  background-color: var(--bg-white-gray);
}

.bg-inkwell-inception {
  background-color: var(--inkwell-inception);
}

.bg-theme {
  background-color: var(--clr-theme);
}

.bg-doctor-light {
  background-color: var(--doctor-light);
}

.bg-errigal-white {
  background-color: var(--errigal-white);
}

.secInput.bg-lighthouse,
.bg-lighthouse {
  background-color: var(--lighthouse);
}

.bg-dark {
  background-color: var(--dark);
}

/* Typography */
.text-5xl {
  font-size: var(--text-5xl);
}

.text-4xl {
  font-size: var(--text-4xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-md {
  font-size: var(--text-md);
}

.text-base {
  font-size: var(--text-base);
}

.text-sm {
  font-size: var(--text-sm);
}

/* Utilities */
.container {
  max-width: 1464px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.clamp {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
}

.clamp-4 {
  -webkit-line-clamp: 4;
}

/* padding */
.space-top-lg {
  padding-top: var(--space-lg);
}

.space-lg-py {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.space-top-md {
  padding-top: var(--space-md);
}

.space-top-sm {
  padding-top: var(--space-sm);
}

.space-bottom-sm {
  padding-bottom: var(--space-sm);
}

.space-sm-mt {
  margin-top: var(--space-sm);
}

.gap-sm {
  gap: var(--space-sm);
}

.space-bottom-lg {
  padding-bottom: var(--space-lg);
}

.space-bottom-md {
  padding-bottom: var(--space-md);
}

.space-md-mb {
  margin-bottom: var(--space-md);
}

/* margin */
.space-margin-top-lg {
  margin-top: var(--space-lg);
}

.space-margin-top-md {
  margin-top: var(--space-md);
}

.space-margin-top-sm {
  margin-top: var(--space-xs);
}

.space-xs-p {
  padding: var(--space-xs);
}

.space-xs-px {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
}

.space-xs-pt {
  padding-top: var(--space-xs);
}

.space-xs-mt {
  margin-top: var(--space-xs);
}

.space-xs-mb {
  margin-bottom: var(--space-xs);
}

.space-2xs-p {
  padding: var(--space-2xs);
}

.space-2xs-py {
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
}

.space-2xs-pb {
  padding-bottom: var(--space-2xs);
}

.space-3xs-pt {
  padding-top: var(--space-3xs);
}

.space-2xs-mb {
  margin-bottom: var(--space-2xs);
}

.space-2xs-mt {
  margin-top: var(--space-2xs);
}

.space-2xs-mt {
  margin-top: var(--space-2xs);
}

.space-2xs-me {
  margin-right: var(--space-2xs);
}

.space-margin-bottom-lg {
  margin-bottom: var(--space-lg);
}

.space-margin-bottom-md {
  margin-bottom: var(--space-md);
}

.space-margin-bottom-sm {
  margin-bottom: var(--space-sm);
}

.gap-xs {
  gap: var(--space-xs);
}

.gap-2xs {
  gap: var(--space-2xs);
}

.gap-3xs {
  gap: var(--space-3xs);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-md {
  border-radius: var(--radius-md);
}

.radius-sm {
  border-radius: var(--radius-sm);
}

.radius-xs {
  border-radius: var(--radius-xs);
}

.secInput.radius-2xs,
.radius-2xs {
  border-radius: var(--radius-2xs);
}

.radius-2xs-imp {
  border-radius: var(--radius-2xs) !important;
}

.radius-inherit {
  border-radius: inherit;
}

.radius-full {
  border-radius: 50%;
}

.secInput.height {
  min-height: var(--secInput);
}

.link {
  color: var(--cosmic-quest);
  transition: 0.3s color;
}

.link:hover {
  color: var(--clr-theme);
  text-decoration: none;
}

.link-hover {
  transition: all 0.3s ease-in-out;
}

.link-hover:hover {
  color: var(--clr-theme);
}

.link-highlight {
  color: var(--white);
}

.link-active {
  color: var(--dark);
}

.container {
  max-width: var(--container-size);
}

.swiper-wrapper .swiper-slide {
  display: flex;
  height: auto;
}

.list-style-none {
  list-style: none;
}

.icon-top-translateY {
  transform: translateY(2px);
}

.gradient-text {
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.gradient-text:hover {
  border-color: var(--g1);
}

.email-ico-translateY {
  transform: translateY(-2px);
}

.ico-translateY {
  transform: translateY(5px);
}

.flex-0-auto {
  flex: 0 0 auto;
}

.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}

.ratio>* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio-9x16 {
  --bs-aspect-ratio: 177.77%;
}

.img-wrapper {
  background-color: var(--accent);
  border-radius: 40px;
}

.grid-primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.grid-secondary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--space-2xs);
}

.header-space {
  margin-bottom: var(--spacing);
}

.numerical-circle {
  --circle-sizing: 50px;
  width: var(--circle-sizing);
  height: var(--circle-sizing);
  background-color: var(--clr-theme);
  color: var(--white);
}


.how-hemvo-works-card {
  background: var(--doctor-light);
  padding: 20px;
  border-radius: 8px;
}

.text-limit p {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-limit p:nth-child(n + 3) {
  display: none;
}

.modal-cover-img{
  max-width: 250px;
}