.hero {
  background-image: url("../../assets/images/background/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flatQuestRow {
  gap: 12px;
}

.firstInSwedenContent p:not(:last-child) {
  margin-bottom: 16px;
}

.payPurchaseCardWrap {
  max-width: 632px;
}

.heroLabelList {
  border-radius: 30px;
}

.flatquestHelpImage {
  max-width: 550px;
}

.flatquestHelpImage::before {
  padding-top: 78.364%;
}

.fmtContent ol {
  list-style-type: none;
  margin-bottom: 20px;
}

.fmtContent li:first-child {
  margin-top: 10px;
}

.fmtContent li:not(:last-child) {
  margin-bottom: 10px;
}

.fmtContent ol.listStyleDisc {
  list-style-type: disc;
}
.heroReviewCards {
  margin-top: -70px;
}
.blogImage {
  object-fit: cover;
  object-position: center;
}
.housingWrapper {
  background: linear-gradient(122.15deg, #2a6ef4 21.2%, #0c48bf 69.58%);
  padding: 80px 0 0 56px;
  gap: 194px;
}
/* .housingQueue {
  padding-bottom: 80px;
} */
.housingQueuesImg {
  width: 100%;
}
.housingQueuesImg img {
  width: 100%;
  object-fit: cover;
  object-position: left;
}
.lightBtn {
  min-height: 67px;
  min-width: 210px;
  background-color: #e8f2ff;
  color: var(--clr-theme);
  font-weight: 600;
  padding: 0 10px;
  outline: 0;
  border: 0;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.lightBtn:hover {
  background-color: #cbdcfd;
}
.bottomMoreInfo {
  background-image: url("../../assets/images/covers/user-hand-laptop-phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bottomMoreInfo::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.secondaryInput.bigInput {
  background-color: red;
}
.cityDetailBtn {
  min-height: 45px;
  min-width: 140px;
  border-radius: var(--radius-2xs);
  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
.readMoreBtn {
  border: 1px solid var(--shadows);
  color: var(--shadows);
}
.readMoreBtn:hover {
  background-color: var(--shadows);
  color: var(--white);
}
.joinBtn:hover {
  background-color: var(--clr-theme);
  color: var(--white);
}
.citydetailCard {
  border: 1px solid #ebf3ef;
}
.cityCardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 14px;
}
.onlyImgSlider
  :global
  .swiper.swiper-initialized.swiper-horizontal
  .swiper-wrapper
  .swiper-slide {
  width: 455px !important;
  height: auto;
  /* aspect-ratio: 16/9; */
}
.SwiperHeroWrapper,
.onlyImgSlider {
  padding-top: 20px;
}
/* responsive css start */
@media screen and (max-width: 1599px) {
  .cityCardWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1439px) {
  .housingWrapper {
    gap: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .housingQueuesImg img {
    width: 800px;
    aspect-ratio: 3/4;
    border-radius: 12px;
  }
  .housingWrapper {
    padding: 60px 40px;
  }
  .lightBtn {
    min-height: 50px;
  }
  .cityCardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .hero {
    min-height: calc(100vh - var(--header-height));
  }
}
.profileIcon {
  min-height: 80px;
  max-width: 80px;
}
@media (min-width: 768px) {
  .flatQuestRow {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
@media screen and (max-width: 575px) {
  .housingWrapper {
    padding: 30px 15px;
  }
  .cityCardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .SwiperHeroWrapper,
  .onlyImgSlider {
    padding-top: 70px;
  }
}
/* responsive css end */
