.listGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  grid-gap: 10px 20px;
}

.trigger {
  cursor: pointer;
  border-color: transparent;
  padding: 15px 12px;
  border-color: var(--lightgray);
}

.trigger:not(.active):hover {
  border-color: var(--g1);
}

.dashboardFaqAccordion {
  border-color: var(--lightgray);
}

.dashboardFaqAccordion:not(:last-child) {
  margin-bottom: 10px;
}

.dashboardFaqAccordion ol,
.dashboardFaqAccordion ul {
  margin: 10px 0;
}

/* responsive css */
@media (max-width: 1799px) {
  .listGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 1199px) {
  .listGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboardFaqAccordion button {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .listGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}